In [2]:
import os
import pandas as pd
path = os.path.dirname(os.path.realpath('__file__'))
print(path)
rate = pd.read_csv(path + '\\ML\\ratings.csv')
rate.head(10)

C:\Users\Rowida Nagah

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931
5       1       70     3.0  964982400
6       1      101     5.0  964980868
7       1      110     4.0  964982176
8       1      151     5.0  964984041
9       1      157     5.0  964984100

In [11]:
# Building collaborative filtering model 
import numpy as np
n_users = rate.userId.unique().shape[0]
n_items = rate.movieId.unique().shape[0]
data_matrix = np.zeros((n_users, n_items))
data_matrix

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])